<p id="notice"><%= notice %></p>

<h1>Systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Heat</th>
      <th>Wanted Level</th>
      <th>Notable Places</th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= link_to system.name, campaign_system_path(@campaign, system) %></td>
        <td><%= system.heat %></td>
        <td><%= system.wanted_level %></td>
        <% system.notable_places.each do |notable_place| %>
          <td><%= link_to notable_place.name, campaign_system_notable_place_path(@campaign, system, notable_place)  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System', new_campaign_system_path(@campaign) %><br><br>
<%= link_to 'Back to Campaign', campaign_path(@campaign) %>
