<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>
  <strong>Heat:</strong>
<%= form_with(model: [@campaign, @system], local: true) do |form| %>
<div class="field">
  <%= form.number_field :heat %>
</div>

<div class="actions">
  <%= form.submit "Update Heat" %>
</div>

<% end %>
<p>
  <strong>Wanted Level:</strong>
  <%= @system.wanted_level %>
</p>

<h4>Notable Places</h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Rule</th>
      <th>Wealth</th>
      <th>Crime</th>
      <th>Tech</th>
      <th>Weird</th>
    </tr>
  </thead>

  <tbody>
    <% @system.notable_places.each do |notable_place| %>
      <tr>
        <td><%= link_to notable_place.name, campaign_system_notable_place_path(@campaign, @system, notable_place)  %></td>
        <td><%= notable_place.description %></td>
        <td><%= notable_place.rule %></td>
        <td><%= notable_place.wealth %></td>
        <td><%= notable_place.crime %></td>
        <td><%= notable_place.tech %></td>
        <td><%= notable_place.weird %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notable Place', new_campaign_system_notable_place_path(@campaign, @system) %><br><br><br>

<%= link_to 'Edit', edit_campaign_system_path(@system) %> |
<%= link_to 'Destroy', [@campaign, @system] , method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', campaign_systems_path(@campaign) %>
