<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @system.name %>
</p>

<%= link_to 'Edit', edit_campaign_system_path(@system) %> |
<%= link_to 'Destroy', [@campaign, @system] , method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', campaign_systems_path(@campaign) %>
