<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campaign.description %>
</p>



<%= link_to 'View NPCs', campaign_npcs_path(@campaign) %><br>
<%= link_to 'View PCs', campaign_pcs_path(@campaign) %><br>
<%= link_to 'View Jobs', campaign_jobs_path(@campaign) %><br>
<%= link_to 'View Systems', campaign_systems_path(@campaign) %><br>
<br><br><br>
<%= link_to 'Edit Campaign', edit_campaign_path(@campaign) %>
